/*
!/.gitignore
!/.gitattributes
!/README.md
!/README.en.md
!/THIRD_PARTY_NOTICES.md
!/DESIGN.md
!/PRODUCT.md
!/package.json
!/package-lock.json
!/tsconfig.json
!/vite.config.ts
!/index.html
!/streets-review.html
!/architecture-review.html
!/start.sh
!/启动Blender.command
!/src/
!/scripts/
!/tests/
!/references/
!/docs/
/docs/*
!/docs/*.md
!/docs/private-backup/
/docs/private-backup/*
!/docs/private-backup/asset-manifest.json
!/docs/private-backup/dependency-licenses.json
!/docs/private-backup/REPORT.md
!/docs/evidence/
/docs/evidence/*
!/docs/evidence/tourism/
/docs/evidence/tourism/*
!/docs/evidence/tourism/vehicle-dynamics-verification.json
!/docs/evidence/tourism/street-master-orientation.json
**/__pycache__/
**/._*
**/.DS_Store
**/*.log
**/*.pyc
**/*.lock
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.db
**/*.sqlite*
